
<br>
<br>
<div class = "container">
    <form [formGroup]="createStudent" (ngSubmit)="createUser()">
        <div>
          <label >Event Name</label>
          <input type="text" class="form-control" placeholder="Event name" formControlName="eventName">
        </div>
        <div>
            <label >Event Description</label>
            <input type="text" class="form-control" placeholder="Event Description" formControlName="eventDescription">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
